*{
    margin: 0;
    padding: 0;
    font-family: 'popins',sans-serif;
    box-sizing: border-box;
}
.body{
    background-image: url('bi.jfif');
}
.hell{
    width: 100%;
    min-height: 100vh;
    background-color: linear-gradient(45 deg,#5d3fe4,#85af37);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hell h1{
    font-size: 45px;
    font-weight: 500;
    margin-top: -50px;
    margin-bottom: 50px;
}
.hell span{
    color: #a52a3f;
}
textarea{
    width: 600px;
    height: 250px;
    background: #000000;
    color: #fff;
    font-size: 15px;
    border: 0;
    outline: 0;
    padding: 20px;
    border-radius: 10px;
    resize: none;
    margin-bottom: 30px;
}
textarea::after{
    font-size: 16px;
    color: #add;
}
.row
{
 width: 600px;
 display: flex;
 align-items: center;
 gap: 20px;
}
button{
    background:#000000;
    color: #fff;
    font-size: 16px;
    padding: 10px 30px;
    border:0;
    outline: 0;
    cursor: pointer;
    border-radius: 30px;
}
select{
    flex: 1;
    color: #fff;
    background: #000000;
    height: 50px;
    padding: 0 20px;
    outline: 0;
    border:0;
    border-radius: 30px;
}